body, html {
  font-size: 16px;
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none; }
  a:focus, a:hover:focus {
    outline: none; }

h1, h2, h3, h4, h5 {
  font-family: "Gotham Rounded"; }

a, p, ul li, ol li, input, span, textarea, label, button {
  font-family: "Gotham Rounded Book"; }

button {
  background: none;
  border: none; }

input:focus {
  outline: none; }
input::placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder {
  color: #2c4a9f;
  font-size: 10px; }

input:focus, button:focus, textarea:focus, select:focus {
  outline: none; }

@media (max-width: 1200px) {
  .container {
    max-width: calc(1140px - 15%); }

  .specialists-grid .spec-grid-repeat .spec-grid-main {
    min-height: 321px; } }
.gradient-btn {
  background: #00c38b;
  background: -moz-linear-gradient(left, #00c38b 0%, #01dcbc 100%);
  background: -webkit-linear-gradient(left, #00c38b 0%, #01dcbc 100%);
  background: linear-gradient(to right, #00c38b 0%, #01dcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c38b', endColorstr='#01dcbc',GradientType=1); }

.h-add, .v-add {
  background: #bdbdbd;
  padding: 5.6% 0;
  text-align: center;
  border-radius: 10px; }
  .h-add.hedarea, .v-add.hedarea {
    border-radius: 0 0 10px 10px; }
  .h-add.area2, .v-add.area2 {
    margin-top: 100px;
    padding: 11% 0; }
  .h-add span, .v-add span {
    color: #fff;
    font-size: 0.75em;
    display: block; }

.v-add {
  height: 300px; }
  .v-add span {
    padding-top: 62%; }

.input-wrap.group {
  position: relative;
  margin-bottom: 45px; }
  .input-wrap.group input {
    font-size: 0.938em;
    color: #2c4a9f;
    padding: 10px 10px 10px 0;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575; }
    .input-wrap.group input:focus {
      outline: none; }
  .input-wrap.group label {
    color: #999;
    font-size: 0.938em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .input-wrap.group input:focus ~ label, .input-wrap.group input:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #00a651; }

.rdo-btn input[type="radio"] {
  display: none; }

.rdo-btn input[type="radio"] + label {
  color: #777777;
  font-size: 14px; }
  .rdo-btn input[type="radio"] + label span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #bbcbdd; }

.rdo-btn input[type="radio"]:checked + label span {
  background-color: #00a651; }

.rdo-btn input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

.rdo-btn input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

.email-popup {
  background: #eef3f7 !important; }
  .email-popup .modal-content {
    border: 0;
    border-radius: 15px;
    padding: 40px 30px 20px 30px;
    background: #fff url(../images/icon-bg.png) no-repeat right top;
    background-size: 142px;
    top: 100px; }
    .email-popup .modal-content .logo-box img {
      width: 170px; }
    .email-popup .modal-content h3 {
      color: #2c4a9f;
      font-size: 1.375em;
      margin-top: 40px;
      margin-bottom: 25px; }
    .email-popup .modal-content p {
      color: #98a0aa;
      font-size: 0.875em; }
  .email-popup.verification {
    background: inherit !important; }
    .email-popup.verification .input-wrap.group input {
      border-bottom: 1px solid #c1c1c1; }

.popup-wrap {
  padding: 50px 0; }
  .popup-wrap button {
    cursor: pointer; }

header nav {
  padding: 1.71% 0 !important; }
  header nav .logo {
    width: 172px; }
    header nav .logo img {
      width: 100%; }
  header nav .menu-right {
    width: 100%;
    text-align: right; }
    header nav .menu-right ul {
      display: inline-block; }
      header nav .menu-right ul li {
        display: inline-block;
        vertical-align: middle; }
        header nav .menu-right ul li span.menu-dp-icon {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 10px; }
          header nav .menu-right ul li span.menu-dp-icon img {
            width: 100%;
            border-radius: 50%; }
        header nav .menu-right ul li.one a {
          padding: 0 40px; }
        header nav .menu-right ul li.two .dropdown-menu {
          min-width: 128px !important; }
        header nav .menu-right ul li.two .callus-btn, header nav .menu-right ul li.two .signin-btn, header nav .menu-right ul li.three .callus-btn, header nav .menu-right ul li.three .signin-btn {
          padding: 13px 20px;
          border: 1px solid #00b09c;
          border-radius: 19px; }
          header nav .menu-right ul li.two .callus-btn i, header nav .menu-right ul li.two .signin-btn i, header nav .menu-right ul li.three .callus-btn i, header nav .menu-right ul li.three .signin-btn i {
            margin-right: 20px; }
          header nav .menu-right ul li.two .callus-btn:hover, header nav .menu-right ul li.two .signin-btn:hover, header nav .menu-right ul li.three .callus-btn:hover, header nav .menu-right ul li.three .signin-btn:hover {
            background: #00b09c;
            color: #fff; }
        header nav .menu-right ul li a {
          color: #2c4a9f;
          font-size: 0.875em;
          transition: all 0.4s;
          -moz-transition: all 0.4s;
          -webkit-transition: all 0.4s; }
        header nav .menu-right ul li .callus-btn {
          margin-right: 30px; }
        header nav .menu-right ul li .signin-btn {
          margin-right: 15px; }
        header nav .menu-right ul li.four {
          padding-top: 8px; }
          header nav .menu-right ul li.four.bc-menu .bc-main {
            width: 20px;
            height: 20px;
            text-align: center;
            transition: all 0.4s;
            -moz-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            cursor: pointer; }
            header nav .menu-right ul li.four.bc-menu .bc-main span {
              display: block;
              height: 2px;
              display: block;
              background: #26579f;
              margin: 0 auto 4px auto;
              transition: all 0.4s;
              -moz-transition: all 0.4s;
              -webkit-transition: all 0.4s; }
              header nav .menu-right ul li.four.bc-menu .bc-main span.one {
                width: 10px; }
              header nav .menu-right ul li.four.bc-menu .bc-main span.two {
                width: 20px; }
              header nav .menu-right ul li.four.bc-menu .bc-main span.three {
                width: 10px; }
            header nav .menu-right ul li.four.bc-menu .bc-main:hover span.one, header nav .menu-right ul li.four.bc-menu .bc-main.active span.one {
              transform: rotate(-89deg); }
            header nav .menu-right ul li.four.bc-menu .bc-main:hover span.three, header nav .menu-right ul li.four.bc-menu .bc-main.active span.three {
              transform: rotate(-89deg); }
        header nav .menu-right ul li.five {
          margin-right: 30px; }
          header nav .menu-right ul li.five i {
            font-size: 0.875em;
            margin-right: 5px; }
        header nav .menu-right ul li.dropdown .dropdown-menu {
          border: 1px solid #00b09c;
          border-top: 0;
          top: 17px;
          min-width: 138px;
          padding-top: 20px;
          padding-bottom: 0;
          border-radius: 0 0 20px 20px;
          transition: all 0.4s;
          -moz-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -webkit-box-shadow: -1px 27px 59px -11px rgba(0, 0, 0, 0.33);
          -moz-box-shadow: -1px 27px 59px -11px rgba(0, 0, 0, 0.33);
          box-shadow: -1px 27px 59px -11px rgba(0, 0, 0, 0.33); }
          header nav .menu-right ul li.dropdown .dropdown-menu .dropdown-item {
            text-align: center;
            background: #fff;
            padding: 13px 5px;
            border-bottom: 1px solid #00b09c;
            color: #00b09c;
            transition: all 0.4s;
            -moz-transition: all 0.4s;
            -webkit-transition: all 0.4s; }
            header nav .menu-right ul li.dropdown .dropdown-menu .dropdown-item:first-child {
              border-top: 1px solid #00b09c; }
            header nav .menu-right ul li.dropdown .dropdown-menu .dropdown-item:last-child {
              border-radius: 0 0 20px 20px; }
            header nav .menu-right ul li.dropdown .dropdown-menu .dropdown-item:hover {
              background: #00b09c;
              color: #fff; }

.menu-dropdown {
  height: 0;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  background: #0048cb;
  background: -moz-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%);
  background: -webkit-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%);
  background: linear-gradient(135deg, #0048cb 0%, #0fad95 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048cb', endColorstr='#0fad95',GradientType=1 ); }
  .menu-dropdown .container {
    padding-top: 50px; }
  .menu-dropdown.active {
    height: 195px; }
  .menu-dropdown ul li {
    padding-right: 12px; }
    .menu-dropdown ul li p, .menu-dropdown ul li a {
      font-size: 0.875em; }
    .menu-dropdown ul li p {
      color: #fff;
      font-weight: bold; }
      .menu-dropdown ul li p a {
        color: #fff; }
    .menu-dropdown ul li a {
      color: #75a9cf;
      display: block;
      transition: all 0.4s;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s; }
      .menu-dropdown ul li a:hover {
        color: #fff; }
  .menu-dropdown .contact-box {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0; }
    .menu-dropdown .contact-box a {
      color: #fff;
      font-size: 0.875em; }
    .menu-dropdown .contact-box .social {
      margin-top: 5px; }
      .menu-dropdown .contact-box .social a {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-right: 10px; }
        .menu-dropdown .contact-box .social a:last-child {
          margin-right: 0; }
        .menu-dropdown .contact-box .social a i {
          color: #fff; }

header nav .menu-right ul li.dropdown.menu-dp {
  margin-right: 20px; }
  header nav .menu-right ul li.dropdown.menu-dp a i {
    color: #d8d8d8;
    font-size: 0.75em;
    margin-left: 5px; }

header nav .menu-right ul li.dropdown.menu-dp .dropdown-menu {
  top: 37px;
  padding-top: 0; }

header nav .menu-right ul li.three .callus-btn:hover ~ .dropdown-menu.show, header nav .menu-right ul li.two .signin-btn:hover ~ .dropdown-menu.show {
  background: #00b09c; }

section.banner {
  height: 65.189%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px; }
  section.banner .banner-contant {
    width: 800px;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    z-index: 1; }
    section.banner .banner-contant h2 {
      font-size: 2.875em;
      font-weight: bold;
      margin-bottom: 80px;
      color: #fff; }
    section.banner .banner-contant span {
      display: block; }
  section.banner .seach-box {
    display: flex;
    width: 770px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px; }
    section.banner .seach-box input {
      width: 100%;
      border: none;
      padding: 15px 20px; }
    section.banner .seach-box .search-location {
      width: 244px;
      padding: 8px 0;
      position: relative; }
      section.banner .seach-box .search-location input {
        border-right: 1px solid #dde7ed; }
      section.banner .seach-box .search-location span {
        position: absolute;
        right: 40px;
        top: 24px;
        bottom: 0; }
        section.banner .seach-box .search-location span i {
          color: #2c4a9f;
          font-size: 1.063em; }
    section.banner .seach-box .search-input {
      width: 393px;
      padding: 8px 0; }
    section.banner .seach-box .search-btn {
      position: relative;
      width: 163px;
      border-radius: 0 8px 8px 0;
      background: #fc857c;
      background: -moz-linear-gradient(left, #fc857c 0%, #f66492 100%);
      background: -webkit-linear-gradient(left, #fc857c 0%, #f66492 100%);
      background: linear-gradient(to right, #fc857c 0%, #f66492 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc857c', endColorstr='#f66492',GradientType=1 ); }
      section.banner .seach-box .search-btn button {
        position: absolute;
        display: block;
        cursor: pointer;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center; }
        section.banner .seach-box .search-btn button i {
          color: #fff; }
  section.banner .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    section.banner .banner-image .slick-dots {
      position: absolute;
      top: 28%;
      z-index: 3;
      width: 100%;
      text-align: center; }
      section.banner .banner-image .slick-dots li {
        display: inline-block; }
        section.banner .banner-image .slick-dots li.slick-active button:before {
          background: #fff; }
        section.banner .banner-image .slick-dots li.slick-active button:after {
          display: block; }
        section.banner .banner-image .slick-dots li:first-child {
          margin-right: 5px; }
        section.banner .banner-image .slick-dots li button {
          display: block;
          font-size: 0;
          width: 14px;
          height: 14px;
          background: none;
          border-radius: 50%;
          position: relative; }
          section.banner .banner-image .slick-dots li button:after {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 5px;
            left: 3px;
            border: 1px solid #fff;
            border-right: none;
            border-bottom: none;
            border-radius: 50%;
            display: none; }
          section.banner .banner-image .slick-dots li button:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            background: #67b6bd;
            border-radius: 50%; }
  section.banner .banner-slide-inner img {
    width: 100%; }
  section.banner .banner-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    background: #0048cb;
    background: -moz-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%);
    background: -webkit-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%);
    background: linear-gradient(135deg, #0048cb 0%, #0fad95 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048cb', endColorstr='#0fad95',GradientType=1 ); }
  section.banner.inner {
    height: 130px;
    margin-bottom: 0; }
    section.banner.inner h3 {
      font-size: 1.5em;
      color: #fff;
      font-weight: bold;
      padding-top: 5%; }
    section.banner.inner .seach-box {
      margin-top: 6px; }

.specialists {
  background: #f7f8fa;
  padding: 98px 0; }
  .specialists h3 {
    margin-bottom: 70px;
    color: #2c4a9f;
    font-size: 1.375em;
    text-align: center; }
  .specialists h4 {
    color: #2c4a9f;
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
    margin-top: 80px; }
    .specialists h4 a {
      color: #2c4a9f;
      font-weight: bold;
      position: relative; }
      .specialists h4 a:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        background: #2c4a9f;
        display: block; }

.specialists-grid .spec-grid-repeat .bottom-curve {
  width: 100%;
  height: 34px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; }
.specialists-grid .spec-grid-repeat:nth-child(odd) .bottom-curve {
  background-image: url(../images/grid-bottom-1.png); }
.specialists-grid .spec-grid-repeat:nth-child(even) .bottom-curve {
  background-image: url(../images/grid-bottom-2.png); }
.specialists-grid .spec-grid-repeat .spec-grid-main {
  -webkit-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
  border-radius: 10px;
  min-height: 378px;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  top: 0;
  cursor: pointer; }
  .specialists-grid .spec-grid-repeat .spec-grid-main:hover {
    top: -10px; }
  .specialists-grid .spec-grid-repeat .spec-grid-main .add-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #b8b8ba;
    text-align: center;
    border-radius: 10px; }
    .specialists-grid .spec-grid-repeat .spec-grid-main .add-box span {
      color: #fff;
      font-size: 0.75em;
      margin-top: 71%;
      display: block; }
  .specialists-grid .spec-grid-repeat .spec-grid-main .img-box {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative; }
    .specialists-grid .spec-grid-repeat .spec-grid-main .img-box img {
      width: 100%;
      border-radius: 10px 10px 0 0; }
  .specialists-grid .spec-grid-repeat .spec-grid-main .contant-box {
    padding: 10px 29px 40px 29px;
    background: #fff;
    border-radius: 0 0 10px 10px; }
    .specialists-grid .spec-grid-repeat .spec-grid-main .contant-box h5 {
      color: #2c4a9f;
      font-size: 1em;
      margin: 0 0 8px 0;
      padding: 0; }
    .specialists-grid .spec-grid-repeat .spec-grid-main .contant-box p {
      color: #6dbab0;
      font-size: 0.875em;
      margin: 0 0 7px 0;
      padding: 0; }
    .specialists-grid .spec-grid-repeat .spec-grid-main .contant-box span {
      display: block;
      font-size: 0.75em;
      color: #999999; }
      .specialists-grid .spec-grid-repeat .spec-grid-main .contant-box span i {
        color: #2c4a9f;
        margin-right: 9px; }

section.services {
  padding: 100px 0;
  background: url(../images/section-bg-3.png) no-repeat 88% -230px;
  background-size: 48%; }
  section.services .left-box h2 {
    font-size: 1.75em;
    color: #2c4a9f;
    margin-bottom: 50px; }
  section.services .left-box p {
    color: #8f8f8f;
    font-size: 0.875em; }
  section.services .left-box .btn-main.gradient-btn {
    display: inline-block;
    padding: 22px 64px;
    color: #fff;
    border-radius: 35px;
    margin-top: 60px; }
  section.services .right-box .slide-box {
    width: 402px;
    margin: 0 0 0 20%;
    background: #fff;
    position: relative;
    background: #fff url(../images/icon-bg.png) no-repeat right top;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
    border-radius: 15px; }
    section.services .right-box .slide-box .slick-prev,
    section.services .right-box .slide-box .slick-next {
      font-size: 0;
      position: absolute;
      width: 61px;
      height: 53px;
      background: #2c4a9f;
      top: 54%;
      cursor: pointer; }
      section.services .right-box .slide-box .slick-prev:after,
      section.services .right-box .slide-box .slick-next:after {
        display: block;
        position: absolute;
        color: #fff;
        font-size: 12px;
        width: 15px;
        height: 15px;
        top: 19px; }
    section.services .right-box .slide-box .slick-prev {
      left: -62px;
      border-radius: 45% 0 0 45%; }
      section.services .right-box .slide-box .slick-prev:after {
        content: "<";
        left: 28px; }
    section.services .right-box .slide-box .slick-next {
      right: -61px;
      border-radius: 0 45% 45% 0; }
      section.services .right-box .slide-box .slick-next:after {
        content: ">";
        right: 28px; }
    section.services .right-box .slide-box .slide-box-slider .item .logo span {
      position: absolute;
      top: 70px;
      right: 66px;
      width: 67px; }
      section.services .right-box .slide-box .slide-box-slider .item .logo span img {
        width: 100%; }
    section.services .right-box .slide-box .slide-box-slider .item .contant {
      padding: 66% 30px 70px 30px; }
      section.services .right-box .slide-box .slide-box-slider .item .contant h5 {
        color: #2c4a9f;
        font-size: 1em;
        margin-bottom: 30px; }
      section.services .right-box .slide-box .slide-box-slider .item .contant p {
        color: #8f8f8f;
        font-size: 0.875em; }

footer {
  background: #2d465e;
  padding: 34px 0; }
  footer .footerlogo img {
    width: 100%;
    margin-bottom: 20px; }
  footer .footer-box .footer-grid p, footer .footer-box .footer-grid a {
    font-size: 12px; }
  footer .footer-box .footer-grid a {
    display: block; }
  footer .footer-box .footer-grid p {
    color: #fff; }
  footer .footer-box .footer-grid ul li {
    list-style: none; }
  footer .footer-box .footer-grid:nth-child(2) a, footer .footer-box .footer-grid:nth-child(3) a {
    color: #01dbba;
    margin-bottom: 8px; }
  footer .footer-box .footer-grid:nth-child(4) ul li {
    display: flex;
    margin-bottom: 8px; }
    footer .footer-box .footer-grid:nth-child(4) ul li span {
      padding-right: 10px; }
      footer .footer-box .footer-grid:nth-child(4) ul li span i {
        color: #fff; }
    footer .footer-box .footer-grid:nth-child(4) ul li a {
      color: #fff; }
    footer .footer-box .footer-grid:nth-child(4) ul li.social a {
      display: inline-block;
      padding-right: 10px; }
  footer .footer-box .footer-grid:last-child a {
    color: #fff;
    text-align: right;
    padding-top: 47px; }
    footer .footer-box .footer-grid:last-child a span {
      display: block; }

.signin-popup .modal-dialog, .signup-popup .modal-dialog {
  max-width: 400px; }
  .signin-popup .modal-dialog .modal-content, .signup-popup .modal-dialog .modal-content {
    padding: 60px 50px 50px 50px;
    border-radius: 15px; }
    .signin-popup .modal-dialog .modal-content h2, .signup-popup .modal-dialog .modal-content h2 {
      color: #2c4a9f;
      margin-bottom: 30px; }
      .signin-popup .modal-dialog .modal-content h2 #emsg, .signup-popup .modal-dialog .modal-content h2 #emsg {
        font-size: 12px !important;
        color: #ff5f5f !important;
        margin-top: 5px !important; }
    .signin-popup .modal-dialog .modal-content .input-wrap, .signup-popup .modal-dialog .modal-content .input-wrap {
      margin-bottom: 25px;
      position: relative; }
      .signin-popup .modal-dialog .modal-content .input-wrap span, .signup-popup .modal-dialog .modal-content .input-wrap span {
        position: absolute;
        top: 14px;
        right: 0;
        bottom: 0; }
        .signin-popup .modal-dialog .modal-content .input-wrap span i, .signup-popup .modal-dialog .modal-content .input-wrap span i {
          color: #2c4a9f;
          font-size: 0.875em; }
      .signin-popup .modal-dialog .modal-content .input-wrap span.has-error, .signup-popup .modal-dialog .modal-content .input-wrap span.has-error {
        font-size: 10px;
        top: inherit;
        bottom: -17px;
        right: inherit;
        left: 0;
        color: #ff5f5f; }
    .signin-popup .modal-dialog .modal-content a.password-lost, .signup-popup .modal-dialog .modal-content a.password-lost {
      text-align: center;
      color: #777777;
      font-size: 0.75em; }
    .signin-popup .modal-dialog .modal-content .signin-btn, .signup-popup .modal-dialog .modal-content .signin-btn {
      padding: 20px 70px;
      display: block;
      background: #01dbba;
      color: #2c4a9f;
      width: 224px;
      margin: 24px auto 25px auto;
      border-radius: 50px;
      font-size: 0.938em;
      font-weight: bold;
      transition: all 0.4s;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      border: 1px solid #01dbba; }
      .signin-popup .modal-dialog .modal-content .signin-btn:hover, .signup-popup .modal-dialog .modal-content .signin-btn:hover {
        background: #fff;
        color: #01dbba; }
    .signin-popup .modal-dialog .modal-content p, .signup-popup .modal-dialog .modal-content p {
      text-align: center;
      font-size: 0.75em;
      color: #777777; }
      .signin-popup .modal-dialog .modal-content p a, .signup-popup .modal-dialog .modal-content p a {
        color: #2c4a9f;
        display: inline-block;
        font-weight: bold; }
.signin-popup .rdo-btn, .signup-popup .rdo-btn {
  display: flex; }
  .signin-popup .rdo-btn li, .signup-popup .rdo-btn li {
    display: inline-block;
    width: 33.3333333%; }
    .signin-popup .rdo-btn li .txt-user, .signup-popup .rdo-btn li .txt-user {
      display: block;
      font-size: 0.938em;
      color: #777777; }
    .signin-popup .rdo-btn li label, .signup-popup .rdo-btn li label {
      cursor: pointer; }
      .signin-popup .rdo-btn li label span, .signup-popup .rdo-btn li label span {
        margin-right: 10px; }

.head-2 {
  color: #2c4a9f;
  font-size: 1.375em; }

section.inner {
  background: #eef3f7; }
  section.inner .left-box {
    padding-top: 38px;
    padding-bottom: 38px; }
    section.inner .left-box .profile-box {
      padding: 25px;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 15px; }
      section.inner .left-box .profile-box .profile-pic .img-box {
        border-radius: 10px;
        width: 100%;
        -webkit-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
        box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42); }
        section.inner .left-box .profile-box .profile-pic .img-box img {
          width: 100%;
          border-radius: 10px; }
      section.inner .left-box .profile-box .profile-details h2 {
        color: #2c4a9f;
        font-size: 1.5em; }
      section.inner .left-box .profile-box .profile-details h4 {
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px; }
      section.inner .left-box .profile-box .profile-details h5 {
        color: #2c4a9f;
        font-size: 0.938em;
        margin: 0;
        padding: 0; }
      section.inner .left-box .profile-box .profile-details span, section.inner .left-box .profile-box .profile-details p {
        font-size: 0.875em;
        color: #8f8f8f;
        display: block; }
      section.inner .left-box .profile-box .profile-details span.desig {
        color: #6dbab0;
        margin-bottom: 20px; }
      section.inner .left-box .profile-box .profile-details .contact-det {
        margin-bottom: 50px; }
        section.inner .left-box .profile-box .profile-details .contact-det span {
          margin-bottom: 8px; }
          section.inner .left-box .profile-box .profile-details .contact-det span i {
            color: #2c4a9f;
            font-size: 0.75em;
            margin-right: 12px; }
      section.inner .left-box .profile-box .profile-details .file-icon {
        padding: 10px 0 10px 10px;
        margin-right: 10px;
        display: block; }
        section.inner .left-box .profile-box .profile-details .file-icon img {
          width: 100%;
          border: 9px solid #eeeeee;
          border-right: 0;
          border-radius: 10px;
          margin-bottom: 5px; }
      section.inner .left-box .profile-box .profile-details .dot-icon {
        padding-left: 23px;
        background: url(../images/dot-icon.png) no-repeat left 3px;
        background-size: 12px;
        margin-bottom: 5px; }
      section.inner .left-box .profile-box .profile-details .age {
        margin-bottom: 20px; }
      section.inner .left-box .profile-box .tab-section .tab-head {
        border-bottom: 1px solid #eef3f7; }
        section.inner .left-box .profile-box .tab-section .tab-head ul.nav li {
          margin-right: 50px;
          position: relative; }
          section.inner .left-box .profile-box .tab-section .tab-head ul.nav li:last-child {
            margin-right: 0; }
          section.inner .left-box .profile-box .tab-section .tab-head ul.nav li a {
            padding: 25px 10px;
            font-size: 1em;
            color: #c2c2c2;
            font-weight: bold;
            position: relative; }
            section.inner .left-box .profile-box .tab-section .tab-head ul.nav li a:after {
              content: "";
              position: absolute;
              display: none;
              height: 3px;
              background: #00b09c;
              right: 0;
              bottom: 0;
              left: 0; }
            section.inner .left-box .profile-box .tab-section .tab-head ul.nav li a.active {
              color: #000000; }
              section.inner .left-box .profile-box .tab-section .tab-head ul.nav li a.active:after {
                display: block; }
            section.inner .left-box .profile-box .tab-section .tab-head ul.nav li a .new-message {
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #00b09c;
              position: absolute;
              top: -5px;
              left: 43%; }
      section.inner .left-box .profile-box .tab-section .tab-contant-main {
        padding-top: 40px;
        padding-bottom: 50px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .chat-list {
          height: 230px;
          overflow-x: auto; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav {
          overflow: auto; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item {
            width: 100%;
            display: block;
            border-bottom: 1px solid #d9e2e8;
            position: relative; }
            section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a {
              filter: grayscale(100%);
              -webkit-filter: grayscale(100%); }
              section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a.active {
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%); }
              section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a .profile-pic img {
                height: 40px;
                border-radius: 5px; }
              section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a .profile-summery {
                padding-left: 10px; }
                section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a .profile-summery p.name {
                  margin-top: 0; }
                section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .nav .nav-item a .profile-summery .new-message {
                  display: block;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: #00b09c;
                  position: absolute;
                  top: 45%;
                  right: 0; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-message {
          height: 225px;
          overflow-x: auto;
          padding: 0 20px;
          margin-bottom: 20px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box p {
          font-size: 0.75em;
          color: #424242;
          margin: 0; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .profile-pic img {
          height: 40px;
          border-radius: 5px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-send, section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-reply, section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area {
          position: relative;
          padding-top: 24px;
          padding-right: 35px;
          padding-bottom: 24px;
          padding-left: 35px;
          border-radius: 5px;
          margin-bottom: 10px; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-send .profile-pic, section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-reply .profile-pic, section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area .profile-pic {
            position: absolute;
            top: 20px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-send {
          background: #e7eef4; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-send .profile-pic {
            left: -15px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-reply {
          background: #d1dae3; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-reply .profile-pic {
            right: -15px; }
        section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area {
          background: #e7eef4; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area .profile-pic {
            left: -20px; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area textarea {
            width: 100%;
            border: none;
            background: #e7eef4;
            font-size: 0.75em;
            padding-right: 30px;
            resize: none; }
          section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area .send-btn {
            position: absolute;
            right: 20px;
            top: 40%; }
            section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area .send-btn button {
              border: none;
              border-radius: 50px;
              padding-top: 8px;
              padding-right: 28px;
              padding-bottom: 8px;
              padding-left: 28px;
              font-size: 0.75em;
              color: #fff;
              transition: all 0.4s;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s; }
              section.inner .left-box .profile-box .tab-section .tab-contant-main .chat-box .tab-content .chat-message-box .chat-text-area .send-btn button:hover {
                opacity: 0.7; }
      section.inner .left-box .profile-box .trtmnt {
        background: #00b09c;
        color: #fff;
        border-radius: 50px;
        font-size: 0.938em;
        font-weight: 600;
        padding-top: 12px;
        padding-right: 45px;
        padding-bottom: 12px;
        padding-left: 45px;
        position: relative;
        top: 78px;
        border: 1px solid #00b09c; }
        section.inner .left-box .profile-box .trtmnt:hover {
          background: #fff;
          color: #00b09c; }
      section.inner .left-box .profile-box .bdr-btm {
        border-bottom: 1px solid #cdd7df; }
      section.inner .left-box .profile-box .trtmt-pr-name {
        padding-bottom: 25px; }
        section.inner .left-box .profile-box .trtmt-pr-name .age {
          color: #000000;
          margin-bottom: 10px; }
        section.inner .left-box .profile-box .trtmt-pr-name .id {
          color: #000000;
          font-weight: bold;
          margin-bottom: 15px; }
      section.inner .left-box .profile-box #accordion .card {
        background-color: transparent;
        border: 0;
        text-align: left;
        border-bottom: 1px solid #cdd7df;
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
        border-radius: 0; }
        section.inner .left-box .profile-box #accordion .card .acd-btn .arrow {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 45px;
          width: 20px;
          height: 20px; }
          section.inner .left-box .profile-box #accordion .card .acd-btn .arrow i {
            color: #2c4a9f; }
            section.inner .left-box .profile-box #accordion .card .acd-btn .arrow i.down {
              display: none; }
        section.inner .left-box .profile-box #accordion .card .acd-btn.collapsed .arrow i.down {
          display: block; }
        section.inner .left-box .profile-box #accordion .card .acd-btn.collapsed .arrow i.up {
          display: none; }
        section.inner .left-box .profile-box #accordion .card .acd-btn ul {
          margin-bottom: 20px; }
          section.inner .left-box .profile-box #accordion .card .acd-btn ul li {
            width: 100%; }
            section.inner .left-box .profile-box #accordion .card .acd-btn ul li.visibility span {
              color: #324fa2;
              font-size: 0.875em; }
        section.inner .left-box .profile-box #accordion .card .all-cnt span {
          margin-bottom: 5px; }
        section.inner .left-box .profile-box #accordion .card .all-cnt h4 {
          margin-bottom: 15px; }
      section.inner .left-box .profile-box .service-window ul {
        margin-top: 22px; }
        section.inner .left-box .profile-box .service-window ul li {
          width: 13.333333%;
          display: inline-block;
          vertical-align: top; }
          section.inner .left-box .profile-box .service-window ul li:first-child {
            width: 20%; }
          section.inner .left-box .profile-box .service-window ul li.disabled span {
            color: #d5d4d4; }
          section.inner .left-box .profile-box .service-window ul li h4 {
            margin-bottom: 30px; }
          section.inner .left-box .profile-box .service-window ul li span {
            color: #09be49;
            font-size: 0.75em; }
  section.inner .right-box {
    padding-top: 38px; }
  section.inner .specialists-grid {
    padding-top: 70px;
    padding-bottom: 70px; }
    section.inner .specialists-grid .spec-grid-repeat {
      margin-bottom: 30px !important; }

.profile-list-box {
  width: 100%; }
  .profile-list-box .img-box {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42); }
    .profile-list-box .img-box img {
      width: 100%;
      border-radius: 10px; }
  .profile-list-box .addbox {
    width: 100%;
    background: #f0f0f0;
    height: 142px;
    border-radius: 10px;
    text-align: center;
    padding-top: 137px;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    position: relative; }
    .profile-list-box .addbox:after {
      content: "";
      display: block;
      height: 3px;
      width: 60%;
      left: 10%;
      background: #00b09c;
      bottom: 0;
      margin: 0 auto; }
    .profile-list-box .addbox i {
      display: block;
      color: #b2b5b8;
      font-size: 1.25em;
      margin-bottom: 6px; }
    .profile-list-box .addbox span {
      color: #b2b5b8;
      font-size: 0.875em; }
    .profile-list-box .addbox button {
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer; }

p.name {
  color: #2c4a9f;
  font-size: 0.875em;
  margin-top: 15px;
  margin-bottom: 2px; }

span.desig {
  display: block;
  font-size: 0.75em;
  color: #6dbab0; }

.pet-profile {
  margin-bottom: 30px;
  padding-top: 38px; }
  .pet-profile .cover {
    position: relative; }
    .pet-profile .cover .img-box {
      border-radius: 10px; }
      .pet-profile .cover .img-box img {
        width: 100%;
        border-radius: 10px; }
    .pet-profile .cover .contant {
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px; }
      .pet-profile .cover .contant h4 {
        color: #fff;
        font-size: 1.25em; }
      .pet-profile .cover .contant span {
        font-size: 0.875em;
        display: block;
        color: #fff; }
      .pet-profile .cover .contant p {
        font-weight: 600;
        color: #fff;
        font-size: 0.875em; }
    .pet-profile .cover .black-grnd {
      position: absolute;
      top: 80px;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 87%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 87%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 87%, rgba(0, 0, 0, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }
    .pet-profile .cover a.btn {
      background: #fff;
      color: #2c4a9f;
      border-radius: 50px;
      padding: 10px 30px;
      font-size: 0.938em;
      margin-top: 15px;
      border: 1px solid #fff; }
      .pet-profile .cover a.btn:hover {
        background: transparent;
        border: 1px solid #fff;
        color: #fff; }

.fail-success-box {
  width: 358px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0; }
  .fail-success-box img {
    margin-bottom: 40px; }
  .fail-success-box h3 {
    color: #2c4a9f;
    font-size: 1.375em;
    margin-bottom: 40px; }
  .fail-success-box p {
    color: #8f8f8f;
    font-size: 0.875em;
    margin-bottom: 50px; }

.btn-all {
  padding: 15px 40px;
  background: #01dbba;
  color: #324fa2;
  border-radius: 50px;
  border: 1px solid #01dbba;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  display: inline-block;
  font-size: 0.938em;
  font-weight: bold; }
  .btn-all:hover {
    background: #fff;
    color: #01dbba; }

.pet-profile-add {
  height: 226px; }
  .pet-profile-add span {
    padding-top: 42%; }

.update-proile-box .modal-dialog {
  max-width: 450px; }
  .update-proile-box .modal-dialog .modal-content {
    padding: 50px 30px;
    border-radius: 10px; }
.update-proile-box .box-head {
  display: flex; }
  .update-proile-box .box-head .left-box {
    width: 89px;
    height: 100px;
    position: relative; }
    .update-proile-box .box-head .left-box input {
      display: none; }
    .update-proile-box .box-head .left-box label {
      width: 88px;
      height: 96px;
      border: 1px dashed #e5e5e5;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer; }
      .update-proile-box .box-head .left-box label img {
        width: 100%;
        border-radius: 10px; }
    .update-proile-box .box-head .left-box span {
      color: #00a651;
      font-size: 0.625em;
      position: absolute;
      bottom: -17px;
      left: 10px; }
    .update-proile-box .box-head .left-box .list-box, .update-proile-box .box-head .left-box .image-list-box {
      display: inline-block;
      vertical-align: top; }
    .update-proile-box .box-head .left-box .list-box {
      width: 88px;
      height: 96px;
      border-radius: 10px; }
      .update-proile-box .box-head .left-box .list-box img {
        width: 100%; }
    .update-proile-box .box-head .left-box .image-list-box {
      position: relative; }
      .update-proile-box .box-head .left-box .image-list-box span {
        bottom: -6px; }
      .update-proile-box .box-head .left-box .image-list-box label {
        background: url(../images/image-icon.svg) no-repeat 34px 37px;
        background-size: 20px; }
  .update-proile-box .box-head.addpet-box {
    margin-bottom: 30px; }
    .update-proile-box .box-head.addpet-box .left-box {
      display: block;
      width: 100%; }
  .update-proile-box .box-head .right-box {
    padding-left: 25px; }
    .update-proile-box .box-head .right-box h2 {
      color: #2c4a9f;
      font-size: 1.375em;
      margin-top: 20px;
      margin-bottom: 0; }
    .update-proile-box .box-head .right-box span {
      color: #2c4a9f;
      font-size: 0.813em; }
.update-proile-box .btn-all {
  padding: 15px 62px; }
.update-proile-box .input-wrap.group input {
  border-bottom: 1px solid #c1c1c1; }

.add-treatment-history .input-wrap.group input {
  border-bottom: 1px solid #c1c1c1; }

.add-pets-proile .box-contant select {
  border: none;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #c1c1c1; }

section.about {
  padding-top: 70px; }
  section.about h2 {
    color: #2c4a9f;
    font-size: 1.375em;
    margin-bottom: 30px; }
  section.about .about-list {
    padding-left: 40px;
    position: relative;
    margin-bottom: 30px; }
    section.about .about-list .icon {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0; }
      section.about .about-list .icon i {
        color: #2c4a9f;
        font-size: 0.875em; }
    section.about .about-list h3 {
      font-size: 1em;
      color: #01dbba;
      margin-bottom: 20px; }
  section.about .pet-dp {
    width: 230px;
    margin: 0 0 0 auto;
    border-radius: 10px; }
    section.about .pet-dp img {
      width: 100%;
      border-radius: 10px; }
  section.about p {
    color: #8f8f8f;
    font-size: 0.875em; }
  section.about .two {
    background: #eef3f7;
    padding: 60px 0; }
    section.about .two .icons-list .icon-box {
      width: 100px;
      height: 100px;
      background: #2c4a9f;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center; }
      section.about .two .icons-list .icon-box img {
        height: 40px;
        position: relative;
        top: 32px; }
    section.about .two .icons-list span {
      text-align: center;
      display: block;
      width: 100%;
      font-size: 1.375em;
      color: #393939;
      font-weight: bold;
      margin-top: 10px;
      line-height: 20px; }
    section.about .two .icons-list p {
      text-align: center;
      width: 100%;
      font-size: 1em;
      color: #393939; }
  section.about .three {
    padding: 80px; }
    section.about .three .left-box iframe {
      border-radius: 10px; }
    section.about .three .right-box .vission-mission .item {
      margin-bottom: 20px; }
      section.about .three .right-box .vission-mission .item .img-box {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border: 4px solid #42e0c4;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top; }
        section.about .three .right-box .vission-mission .item .img-box img {
          width: 130%; }
      section.about .three .right-box .vission-mission .item .contant {
        padding-left: 20px;
        width: 80%;
        display: inline-block; }
        section.about .three .right-box .vission-mission .item .contant h3 {
          font-size: 1.375em;
          color: #2c4a9f;
          padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
