section.about
    padding-top: 70px
    h2
        color: $text-blue
        font-size: $font-22
        margin-bottom: 30px
    .about-list
        padding-left: 40px
        position: relative
        margin-bottom: 30px
        .icon
            width: 20px
            height: 20px
            position: absolute
            left: 0
            top: 0
            i
                color: $text-blue
                font-size: $font-14
        h3
            font-size: $font-16
            color: #01dbba
            margin-bottom: 20px
    .pet-dp
        width: 230px
        margin: 0 0 0 auto
        border-radius: 10px
        img
            width: 100%
            border-radius: 10px
    p
        color: #8f8f8f
        font-size: $font-14
    .two
        background: #eef3f7
        padding: 60px 0
        .icons-list
            .icon-box
                width: 100px
                height: 100px
                background: #2c4a9f
                border-radius: 50%
                margin: 0 auto
                text-align: center
                img
                    height: 40px
                    position: relative
                    top: 32px
            span
                text-align: center
                display: block
                width: 100%
                font-size: $font-22
                color: #393939
                font-weight: bold
                margin-top: 10px
                line-height: 20px
            p
                text-align: center
                width: 100%
                font-size: $font-16
                color: #393939
    .three
        padding: 80px
        .left-box
            iframe
                border-radius: 10px
        .right-box
            .vission-mission
                .item
                    margin-bottom: 20px
                    .img-box
                        width: 70px
                        height: 70px
                        overflow: hidden
                        border: 4px solid #42e0c4
                        border-radius: 50%
                        display: inline-block
                        vertical-align: top
                        img
                            width: 130%
                    .contant
                        padding-left: 20px
                        width: 80%
                        display: inline-block
                        h3
                            font-size: $font-22
                            color: $text-blue
                            padding-top: 20px