section.banner
    height: 65.189%
    width: 100%
    position: relative
    overflow: hidden
    margin-bottom: 60px
    .banner-contant
        width: 800px
        margin: 0 auto
        display: block
        text-align: center
        position: absolute
        top: 18%
        left: 0
        right: 0
        z-index: 1
        h2
            font-size: $font-46
            font-weight: bold
            margin-bottom: 80px
            color: #fff
        span
            display: block
    .seach-box
        display: flex
        width: 770px
        margin: 0 auto
        background: #fff
        border-radius: 8px
        input
            width: 100%
            border: none
            padding: 15px 20px
        .search-location
            width: 244px
            padding: 8px 0
            position: relative
            input
                border-right: 1px solid #dde7ed
            span
                position: absolute
                right: 40px
                top: 24px
                bottom: 0
                i
                    color: $text-blue
                    font-size: $font-17
        .search-input
            width: 393px
            padding: 8px 0
        .search-btn
            position: relative
            width: 163px
            border-radius: 0 8px 8px 0
            background: #fc857c
            background: -moz-linear-gradient(left, #fc857c 0%, #f66492 100%)
            background: -webkit-linear-gradient(left, #fc857c 0%,#f66492 100%)
            background: linear-gradient(to right, #fc857c 0%,#f66492 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc857c', endColorstr='#f66492',GradientType=1 )
            button
                position: absolute
                display: block
                cursor: pointer
                width: 100%
                top: 0
                right: 0
                bottom: 0
                left: 0
                text-align: center
                i
                    color: #fff
    .banner-image
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        .slick-dots
            position: absolute
            top: 28%
            z-index: 3
            width: 100%
            text-align: center
            li
                display: inline-block
                &.slick-active
                    button
                        &:before
                            background: #fff
                        &:after
                            display: block
                &:first-child
                    margin-right: 5px
                button
                    display: block
                    font-size: 0
                    width: 14px
                    height: 14px
                    background: none
                    border-radius: 50%
                    position: relative
                    &:after
                        content: ""
                        display: block
                        width: 14px
                        height: 14px
                        position: absolute
                        top: 5px
                        left: 3px
                        border: 1px solid #fff
                        border-right: none
                        border-bottom: none
                        border-radius: 50%
                        display: none
                    &:before
                        content: ""
                        display: block
                        width: 10px
                        height: 10px
                        position: absolute
                        background: #67b6bd
                        border-radius: 50%
    .banner-slide-inner
        img
            width: 100%
    .banner-gradient
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        opacity: .8
        background: #0048cb
        background: -moz-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%)
        background: -webkit-linear-gradient(-45deg, #0048cb 0%,#0fad95 100%)
        background: linear-gradient(135deg, #0048cb 0%,#0fad95 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048cb', endColorstr='#0fad95',GradientType=1 )
    &.inner
        height: 130px
        margin-bottom: 0
        h3
            font-size: $font-24
            color: #fff
            font-weight: bold
            padding-top: 5%
        .seach-box
            margin-top: 6px