$text-blue: #2c4a9f
$font-10: 0.625em
$font-12: 0.750em
$font-13: 0.813em
$font-14: 0.875em
$font-15: 0.938em
$font-16: 1.000em
$font-17: 1.063em
$font-18: 1.125em
$font-20: 1.250em    
$font-22: 1.375em
$font-24: 1.500em
$font-26: 1.625em
$font-28: 1.750em
$font-30: 1.875em
$font-32: 2.000em
$font-46: 2.875em
$transition: all 0.4s

body, html
    font-size: 16px
    height: 100%
ul
    margin: 0
    padding: 0
    list-style: none
a, a:hover
    text-decoration: none
    &:focus
        outline: none
h1, h2, h3, h4, h5
    font-family: 'Gotham Rounded'
a, p, ul li, ol li, input, span, textarea, label, button
    font-family: 'Gotham Rounded Book'
button
    background: none
    border: none
input
    &:focus
        outline: none
    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder
        color: $text-blue
        font-size: 10px
input, button, textarea, select
    &:focus
        outline: none
@media (max-width: 1200px)
    .container
        max-width: calc(1140px - 15%)
    .specialists-grid .spec-grid-repeat .spec-grid-main
        min-height: 321px
.gradient-btn
    background: #00c38b
    background: -moz-linear-gradient(left, #00c38b 0%, #01dcbc 100%)
    background: -webkit-linear-gradient(left, #00c38b 0%,#01dcbc 100%)
    background: linear-gradient(to right, #00c38b 0%,#01dcbc 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c38b', endColorstr='#01dcbc',GradientType=1)
.h-add, .v-add
    background: #bdbdbd
    padding: 5.6% 0
    text-align: center
    border-radius: 10px
    &.hedarea
        border-radius: 0 0 10px 10px
    &.area2
        margin-top: 100px
        padding: 11% 0
    span
        color: #fff
        font-size: 0.75em
        display: block
.v-add
    height: 300px
    span
        padding-top: 62%

.input-wrap
    &.group
        position: relative
        margin-bottom: 45px

        input
            font-size: $font-15
            color: $text-blue
            padding: 10px 10px 10px 0
            display: block
            width: 300px
            border: none
            border-bottom: 1px solid #757575
            &:focus
                outline: none

        label
            color: #999
            font-size: $font-15
            font-weight: normal
            position: absolute
            pointer-events: none
            left: 0
            top: 10px
            transition: 0.2s ease all
            -moz-transition: 0.2s ease all
            -webkit-transition: 0.2s ease all

        input
            &:focus ~ label, &:valid ~ label
                top: -10px
                font-size: 14px
                color: #00a651
.rdo-btn input[type="radio"]
    display: none
.rdo-btn input[type="radio"] + label
    color: #777777
    font-size: 14px
    span
        display: inline-block
        width: 10px
        height: 10px
        margin: -1px 4px 0 0
        vertical-align: middle
        cursor: pointer
        -moz-border-radius: 50%
        border-radius: 50%
        background-color: #bbcbdd
.rdo-btn input[type="radio"]:checked + label span
    background-color: #00a651
.rdo-btn input[type="radio"]:checked + label span
    -webkit-transition: background-color 0.4s linear
    -o-transition: background-color 0.4s linear
    -moz-transition: background-color 0.4s linear
    transition: background-color 0.4s linear
.rdo-btn input[type="radio"]:checked + label span
    -webkit-transition: background-color 0.4s linear
    -o-transition: background-color 0.4s linear
    -moz-transition: background-color 0.4s linear
    transition: background-color 0.4s linear
    
.email-popup
    background: #eef3f7 !important
    .modal-content
        border: 0
        border-radius: 15px
        padding: 40px 30px 20px 30px
        background: #fff url(../images/icon-bg.png) no-repeat right top
        background-size: 142px
        top: 100px
        .logo-box
            img
                width: 170px
        h3
            color: $text-blue
            font-size: $font-22
            margin-top: 40px
            margin-bottom: 25px
        p
            color: #98a0aa
            font-size: $font-14
    &.verification 
        background: inherit !important
        .input-wrap.group input
            border-bottom: 1px solid #c1c1c1
.popup-wrap
    padding: 50px 0
    button
        cursor: pointer