footer
    background: #2d465e
    padding: 34px 0
    .footerlogo
        img
            width: 100%
            margin-bottom: 20px
    .footer-box
        .footer-grid
            p, a
                font-size: 12px
            a
                display: block
            p
                color: #fff
            ul
                li
                    list-style: none
            &:nth-child(2), &:nth-child(3)
                a
                    color: #01dbba
                    margin-bottom: 8px
            &:nth-child(4)
                ul
                    li
                        display: flex
                        margin-bottom: 8px
                        span
                            padding-right: 10px
                            i
                                color: #fff
                        a
                            color: #fff
                        &.social
                            a
                                display: inline-block
                                padding-right: 10px
            &:last-child
                a
                    color: #fff
                    text-align: right
                    padding-top: 47px
                    span
                        display: block