header
    nav
        padding: 1.71% 0 !important
        .logo
            width: 172px
            img
                width: 100%
        .menu-right
            width: 100%
            text-align: right
            ul
                display: inline-block
                li
                    display: inline-block
                    vertical-align: middle
                    span.menu-dp-icon
                        display: inline-block
                        width: 35px
                        height: 35px
                        border-radius: 50%
                        margin-right: 10px
                        img
                            width: 100%
                            border-radius: 50%
                    &.one
                        a
                            padding: 0 40px
                    &.two
                        .dropdown-menu
                            min-width: 128px !important
                    &.two,
                    &.three
                        .callus-btn, .signin-btn
                            padding: 13px 20px
                            border: 1px solid #00b09c
                            border-radius: 19px
                            i
                                margin-right: 20px 
                            &:hover
                                background: #00b09c
                                color: #fff

                    a
                        color: $text-blue
                        font-size: $font-14
                        transition: $transition
                        -moz-transition: $transition
                        -webkit-transition: $transition
                    .callus-btn
                        margin-right: 30px
                    .signin-btn
                        margin-right: 15px
                    &.four
                        padding-top: 8px
                        &.bc-menu
                            .bc-main
                                width: 20px
                                height: 20px
                                text-align: center
                                transition: $transition
                                -moz-transition: $transition
                                -webkit-transition: $transition
                                transform: rotate(-45deg)
                                -moz-transform: rotate(-45deg)
                                -webkit-transform: rotate(-45deg)
                                cursor: pointer
                                span
                                    display: block
                                    height: 2px
                                    display: block
                                    background: #26579f
                                    margin: 0 auto 4px auto
                                    transition: $transition
                                    -moz-transition: $transition
                                    -webkit-transition: $transition
                                    &.one
                                        width: 10px
                                    &.two
                                        width: 20px
                                    &.three
                                        width: 10px
                                &:hover, &.active
                                    span
                                        &.one
                                            transform: rotate(-89deg)
                                        &.three
                                            transform: rotate(-89deg)
                    &.five
                        margin-right: 30px
                        i
                            font-size: $font-14
                            margin-right: 5px
                    &.dropdown
                        .dropdown-menu
                            border: 1px solid #00b09c
                            border-top: 0
                            top: 17px
                            min-width: 138px
                            padding-top: 20px
                            padding-bottom: 0
                            border-radius: 0 0 20px 20px
                            transition: $transition
                            -moz-transition: $transition
                            -webkit-transition: $transition
                            -webkit-box-shadow: -1px 27px 59px -11px rgba(0,0,0,0.33)
                            -moz-box-shadow: -1px 27px 59px -11px rgba(0,0,0,0.33)
                            box-shadow: -1px 27px 59px -11px rgba(0,0,0,0.33)
                            .dropdown-item
                                text-align: center
                                background: #fff
                                padding: 13px 5px
                                border-bottom: 1px solid #00b09c
                                color: #00b09c
                                transition: $transition
                                -moz-transition: $transition
                                -webkit-transition: $transition
                                &:first-child
                                    border-top: 1px solid #00b09c
                                &:last-child
                                    border-radius: 0 0 20px 20px
                                &:hover
                                    background: #00b09c
                                    color: #fff
.menu-dropdown
    height: 0
    position: relative
    transition: $transition
    -moz-transition: $transition
    -webkit-transition: $transition
    background: #0048cb
    background: -moz-linear-gradient(-45deg, #0048cb 0%, #0fad95 100%)
    background: -webkit-linear-gradient(-45deg, #0048cb 0%,#0fad95 100%)
    background: linear-gradient(135deg, #0048cb 0%,#0fad95 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048cb', endColorstr='#0fad95',GradientType=1 )
    .container
        padding-top: 50px
    &.active
        height: 195px
    ul
        li
            padding-right: 12px
            p, a
                font-size: $font-14
            p
                color: #fff
                font-weight: bold
                a
                    color: #fff
            a
                color: #75a9cf
                display: block
                transition: $transition
                -moz-transition: $transition
                -webkit-transition: $transition
                &:hover
                    color: #fff
    .contact-box
        text-align: right
        position: absolute
        right: 0
        bottom: 0
        a
            color: #fff
            font-size: $font-14
        .social
            margin-top: 5px
            a
                display: inline-block
                width: 20px
                height: 20px
                text-align: center
                margin-right: 10px
                &:last-child
                    margin-right: 0
                i
                    color: #fff
header nav .menu-right ul li.dropdown.menu-dp
    margin-right: 20px
    a
        i
            color: #d8d8d8
            font-size: $font-12
            margin-left: 5px
header nav .menu-right ul li.dropdown.menu-dp .dropdown-menu
    top: 37px
    padding-top: 0
    
                                
header nav .menu-right ul li.three .callus-btn:hover ~ .dropdown-menu.show, header nav .menu-right ul li.two .signin-btn:hover ~ .dropdown-menu.show
    background: #00b09c
                                
                        
                                
                        