.head-2
    color: $text-blue
    font-size: $font-22
section.inner
    background: #eef3f7
    .left-box
        padding-top: 38px
        padding-bottom: 38px
        .profile-box
            padding: 25px
            background: #fff
            border-radius: 10px
            margin-bottom: 15px
            .profile-pic
                .img-box
                    border-radius: 10px
                    width: 100%
                    -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
                    -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
                    box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
                    img
                        width: 100%
                        border-radius: 10px
            .profile-details
                h2
                    color: $text-blue
                    font-size: $font-24
                h4
                    color: #000000
                    font-size: 14px
                    font-weight: 500
                    margin-bottom: 8px
                h5
                    color: $text-blue
                    font-size: $font-15
                    margin: 0
                    padding: 0
                span, p
                    font-size: $font-14
                    color: #8f8f8f
                    display: block
                span.desig
                    color: #6dbab0
                    margin-bottom: 20px
                .contact-det
                    margin-bottom: 50px
                    span
                        margin-bottom: 8px
                        i
                            color: $text-blue
                            font-size: $font-12
                            margin-right: 12px
                .file-icon
                    padding: 10px 0 10px 10px
                    margin-right: 10px
                    display: block
                    img
                        width: 100%
                        border: 9px solid #eeeeee
                        border-right: 0
                        border-radius: 10px
                        margin-bottom: 5px
                .dot-icon
                    padding-left: 23px
                    background: url(../images/dot-icon.png) no-repeat left 3px
                    background-size: 12px
                    margin-bottom: 5px
                .age
                    margin-bottom: 20px
            .tab-section
                .tab-head
                    border-bottom: 1px solid #eef3f7
                    ul.nav
                        li
                            margin-right: 50px
                            position: relative
                            &:last-child
                                margin-right: 0
                            a
                                padding: 25px 10px
                                font-size: $font-16
                                color: #c2c2c2
                                font-weight: bold
                                position: relative
                                &:after
                                    content: ""
                                    position: absolute
                                    display: none
                                    height: 3px
                                    background: #00b09c
                                    right: 0
                                    bottom: 0
                                    left: 0

                                &.active
                                    color: #000000
                                    &:after
                                        display: block
                                .new-message
                                    display: block
                                    width: 10px
                                    height: 10px
                                    border-radius: 50%
                                    background: #00b09c
                                    position: absolute
                                    top: -5px
                                    left: 43%
                .tab-contant-main
                    padding-top: 40px
                    padding-bottom: 50px
                    .chat-box
                        .chat-list
                            height: 230px
                            overflow-x: auto
                        .nav
                            overflow: auto
                            .nav-item
                                width: 100%
                                display: block
                                border-bottom: 1px solid #d9e2e8
                                position: relative
                                a
                                    filter: grayscale(100%)
                                    -webkit-filter: grayscale(100%)
                                    &.active
                                        filter: grayscale(0%)
                                        -webkit-filter: grayscale(0%)
                                    .profile-pic
                                        img
                                            height: 40px
                                            border-radius: 5px
                                    .profile-summery
                                        padding-left: 10px
                                        p.name
                                            margin-top: 0
                                        .new-message
                                            display: block
                                            width: 10px
                                            height: 10px
                                            border-radius: 50%
                                            background: #00b09c
                                            position: absolute
                                            top: 45%
                                            right: 0
                        .tab-content
                            .chat-message-box
                                .chat-message
                                    height: 225px
                                    overflow-x: auto
                                    padding: 0 20px
                                    margin-bottom: 20px
                                p
                                    font-size: $font-12
                                    color: #424242
                                    margin: 0
                                .profile-pic
                                    img
                                        height: 40px
                                        border-radius: 5px
                                .chat-send, .chat-reply, .chat-text-area
                                    position: relative
                                    padding-top: 24px
                                    padding-right: 35px
                                    padding-bottom: 24px
                                    padding-left: 35px
                                    border-radius: 5px
                                    margin-bottom: 10px
                                    .profile-pic
                                        position: absolute
                                        top: 20px
                                .chat-send
                                    background: #e7eef4
                                    .profile-pic
                                        left: -15px
                                .chat-reply
                                    background: #d1dae3
                                    .profile-pic
                                        right: -15px
                                .chat-text-area
                                    background: #e7eef4
                                    .profile-pic
                                        left: -20px
                                    textarea
                                        width: 100%
                                        border: none
                                        background: #e7eef4
                                        font-size: $font-12
                                        padding-right: 30px
                                        resize: none
                                    .send-btn
                                        position: absolute
                                        right: 20px
                                        top: 40%
                                        button
                                            border: none
                                            border-radius: 50px
                                            padding-top: 8px
                                            padding-right: 28px
                                            padding-bottom: 8px
                                            padding-left: 28px
                                            font-size: $font-12
                                            color: #fff
                                            transition: $transition
                                            -webkit-transition: $transition
                                            -moz-transition: $transition
                                            &:hover
                                                opacity: .7
            .trtmnt
                background: #00b09c
                color: #fff
                border-radius: 50px
                font-size: $font-15
                font-weight: 600
                padding-top: 12px
                padding-right: 45px
                padding-bottom: 12px
                padding-left: 45px
                position: relative
                top: 78px
                border: 1px solid #00b09c
                &:hover
                    background: #fff
                    color: #00b09c
            .bdr-btm
                border-bottom: 1px solid #cdd7df
            .trtmt-pr-name
                padding-bottom: 25px
                .age
                    color: #000000
                    margin-bottom: 10px
                .id
                    color: #000000
                    font-weight: bold
                    margin-bottom: 15px
            #accordion
                .card
                    background-color: transparent
                    border: 0
                    text-align: left
                    border-bottom: 1px solid #cdd7df
                    padding-top: 20px
                    padding-right: 15px
                    padding-bottom: 20px
                    padding-left: 15px
                    border-radius: 0
                    .acd-btn
                        .arrow
                            cursor: pointer
                            position: absolute
                            right: 10px
                            top: 45px
                            width: 20px
                            height: 20px
                            i
                                color: $text-blue
                                &.down
                                    display: none
                        &.collapsed
                            .arrow
                                i
                                    &.down
                                        display: block
                                    &.up
                                        display: none
                        ul
                            margin-bottom: 20px
                            li
                                width: 100%
                                &.visibility
                                    span
                                        color: #324fa2
                                        font-size: $font-14
                    .all-cnt
                        span
                            margin-bottom: 5px
                        h4
                            margin-bottom: 15px
                                
            .service-window
                ul
                    margin-top: 22px
                    li
                        width: 13.333333%
                        display: inline-block
                        vertical-align: top
                        &:first-child
                            width: 20%
                        &.disabled
                            span
                                color: #d5d4d4
                        h4
                            margin-bottom: 30px
                        span
                            color: #09be49
                            font-size: $font-12
    .right-box
        padding-top: 38px
    .specialists-grid
        padding-top: 70px
        padding-bottom: 70px
        .spec-grid-repeat
            margin-bottom: 30px !important
.profile-list-box
    width: 100%
    .img-box
        border-radius: 10px
        -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
        -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
        box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
        img
            width: 100%
            border-radius: 10px
    .addbox
        width: 100%
        background: #f0f0f0
        height: 142px
        border-radius: 10px
        text-align: center
        padding-top: 137px
        border: 1px solid #e1e1e1
        -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.22)
        -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.22)
        box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.22)
        cursor: pointer
        position: relative
        &:after
            content: ""
            display: block
            height: 3px
            width: 60%
            left: 10%
            background: #00b09c
            bottom: 0
            margin: 0 auto
        i
            display: block
            color: #b2b5b8
            font-size: $font-20
            margin-bottom: 6px
        span
            color: #b2b5b8
            font-size: $font-14
        button
            position: absolute
            display: block
            width: 100%
            top: 0
            right: 0
            bottom: 0
            left: 0
            cursor: pointer
    .ask-expert
        
            
        
p.name
    color: $text-blue
    font-size: $font-14
    margin-top: 15px
    margin-bottom: 2px
span.desig
    display: block
    font-size: $font-12
    color: #6dbab0
.pet-profile
    margin-bottom: 30px
    padding-top: 38px
    .cover
        position: relative
        .img-box
            border-radius: 10px
            img
                width: 100%
                border-radius: 10px
        .contant
            position: absolute
            right: 20px
            bottom: 0
            left: 20px
            h4
                color: #fff
                font-size: $font-20
            span
                font-size: $font-14
                display: block
                color: #fff
            p
                font-weight: 600
                color: #fff
                font-size: $font-14
        .black-grnd
            position: absolute
            top: 80px
            right: 0
            bottom: 0
            left: 0
            border-radius: 10px
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 87%, rgba(0,0,0,0.65) 100%)
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 100%)
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 87%,rgba(0,0,0,0.65) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 )
        a.btn
            background: #fff
            color: $text-blue
            border-radius: 50px
            padding: 10px 30px
            font-size: $font-15
            margin-top: 15px
            border: 1px solid #fff
            &:hover
                background: transparent
                border: 1px solid #fff
                color: #fff
.fail-success-box
    width: 358px
    margin: 0 auto
    text-align: center
    padding: 70px 0
    img
        margin-bottom: 40px
    h3
        color: $text-blue
        font-size: $font-22
        margin-bottom: 40px
    p
        color: #8f8f8f
        font-size: $font-14
        margin-bottom: 50px
.btn-all
    padding: 15px 40px
    background: #01dbba
    color: #324fa2
    border-radius: 50px
    border: 1px solid #01dbba
    transition: $transition
    -webkit-transition: $transition
    -moz-transition: $transition
    display: inline-block
    font-size: $font-15
    font-weight: bold
    &:hover
        background: #fff
        color: #01dbba
.pet-profile-add
    height: 226px
    span
        padding-top: 42%
.update-proile-box
    .modal-dialog
        max-width: 450px
        .modal-content
            padding: 50px 30px
            border-radius: 10px
    .box-head
        display: flex
        .left-box
            width: 89px
            height: 100px
            position: relative
            input
                display: none
            label
                width: 88px
                height: 96px
                border: 1px dashed #e5e5e5
                border-radius: 10px
                overflow: hidden
                cursor: pointer
                img
                    width: 100%
                    border-radius: 10px
            span
                color: #00a651
                font-size: $font-10
                position: absolute
                bottom: -17px
                left: 10px
            .list-box, .image-list-box
                display: inline-block
                vertical-align: top
            .list-box
                width: 88px
                height: 96px
                border-radius: 10px
                img
                    width: 100%
            .image-list-box
                position: relative
                span
                    bottom: -6px
                label
                    background: url(../images/image-icon.svg) no-repeat 34px 37px
                    background-size: 20px
        &.addpet-box
            .left-box
                display: block
                width: 100%
            margin-bottom: 30px
        .right-box
            padding-left: 25px
            h2
                color: $text-blue
                font-size: $font-22
                margin-top: 20px
                margin-bottom: 0
            span
                color: $text-blue
                font-size: $font-13
    .btn-all
        padding: 15px 62px
    .input-wrap.group input
        border-bottom: 1px solid #c1c1c1
.add-treatment-history
    .input-wrap.group input
        border-bottom: 1px solid #c1c1c1
.add-pets-proile
    .box-contant
        select
            border: none
            margin: 0
            padding: 10px
            border-bottom: 1px solid #c1c1c1

    
                    
                