section.services
    padding: 100px 0
    background: url(../images/section-bg-3.png) no-repeat 88% -230px
    background-size: 48%
    .left-box
        h2
            font-size: $font-28
            color: $text-blue
            margin-bottom: 50px
        p
            color: #8f8f8f
            font-size: $font-14
        .btn-main.gradient-btn
            display: inline-block
            padding: 22px 64px
            color: #fff
            border-radius: 35px
            margin-top: 60px
    .right-box
        .slide-box
            width: 402px
            margin: 0 0 0 20%
            background: #fff
            position: relative
            background: #fff url(../images/icon-bg.png) no-repeat right top
            -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            border-radius: 15px
            .slick-prev,
            .slick-next
                font-size: 0
                position: absolute
                width: 61px
                height: 53px
                background: $text-blue
                top: 54%
                cursor: pointer
                &:after
                    display: block
                    position: absolute
                    color: #fff
                    font-size: 12px
                    width: 15px
                    height: 15px
                    top: 19px
            .slick-prev
                left: -62px
                border-radius: 45% 0 0 45%
                &:after
                    content: "<"
                    left: 28px
            .slick-next
                right: -61px
                border-radius: 0 45% 45% 0
                &:after
                    content: ">"
                    right: 28px
            .slide-box-slider
                .item
                    .logo
                        span
                            position: absolute
                            top: 70px
                            right: 66px
                            width: 67px
                            img
                                width: 100%
                    .contant
                        padding: 66% 30px 70px 30px
                        h5
                            color: $text-blue
                            font-size: $font-16
                            margin-bottom: 30px
                        p
                            color: #8f8f8f
                            font-size: 0.875em
                
