.signin-popup, .signup-popup
    .modal-dialog
        max-width: 400px
        .modal-content
            padding: 60px 50px 50px 50px
            border-radius: 15px
            h2
                color: $text-blue
                margin-bottom: 30px
                #emsg
                    font-size: 12px !important
                    color: #ff5f5f !important
                    margin-top: 5px !important
            .input-wrap
                margin-bottom: 25px
                position: relative
                span
                    position: absolute
                    top: 14px
                    right: 0
                    bottom: 0
                    i
                        color: $text-blue
                        font-size: $font-14
                span.has-error
                    font-size: 10px
                    top: inherit
                    bottom: -17px
                    right: inherit
                    left: 0
                    color: #ff5f5f
            a.password-lost
                text-align: center
                color: #777777
                font-size: $font-12
            .signin-btn
                padding: 20px 70px
                display: block
                background: #01dbba
                color: $text-blue
                width: 224px
                margin: 24px auto 25px auto
                border-radius: 50px
                font-size: $font-15
                font-weight: bold
                transition: $transition
                -moz-transition: $transition
                -webkit-transition: $transition
                border: 1px solid #01dbba
                &:hover
                    background: #fff
                    color: #01dbba
                    
            p
                text-align: center
                font-size: $font-12
                color: #777777
                a
                    color: $text-blue
                    display: inline-block
                    font-weight: bold
    .rdo-btn
        display: flex
        li
            display: inline-block
            width: 33.3333333%
            .txt-user
                display: block
                font-size: $font-15
                color: #777777
            label 
                cursor: pointer
                span
                    margin-right: 10px