.specialists
    background: #f7f8fa
    padding: 98px 0
    h3
        margin-bottom: 70px
        color: $text-blue
        font-size: $font-22
        text-align: center
    h4
        color: $text-blue
        font-size: $font-20
        font-weight: 300
        text-align: center
        margin-top: 80px
        a
            color: $text-blue
            font-weight: bold
            position: relative
            &:after
                position: absolute
                content: ""
                width: 100%
                height: 1px
                width: 100%
                left: 0
                bottom: 0
                right: 0
                background: $text-blue
                display: block
.specialists-grid
    .spec-grid-repeat
        .bottom-curve
            width: 100%
            height: 34px
            position: absolute
            right: 0
            bottom: 0
            left: 0
            background-size: 100%
            background-repeat: no-repeat
            background-position: bottom
        &:nth-child(odd)
            .bottom-curve
                background-image: url(../images/grid-bottom-1.png)
        &:nth-child(even)
            .bottom-curve
                background-image: url(../images/grid-bottom-2.png)
        .spec-grid-main
            -webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.42)
            border-radius: 10px
            min-height: 378px
            position: relative
            transition: $transition
            -moz-transition: $transition
            -webkit-transition: $transition
            top: 0
            cursor: pointer
            &:hover
                top: -10px
            .add-box
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                background: #b8b8ba
                text-align: center
                border-radius: 10px
                span
                    color: #fff
                    font-size: $font-12
                    margin-top: 71%
                    display: block
            .img-box
                overflow: hidden
                border-radius: 10px 10px 0 0
                position: relative
                img
                    width: 100%
                    border-radius: 10px 10px 0 0
            .contant-box
                padding: 10px 29px 40px 29px
                background: #fff
                border-radius: 0 0 10px 10px
                h5
                    color: $text-blue
                    font-size: $font-16
                    margin: 0 0 8px 0
                    padding: 0
                p
                    color: #6dbab0
                    font-size: $font-14
                    margin: 0 0 7px 0
                    padding: 0
                span
                    display: block
                    font-size: $font-12
                    color: #999999
                    i
                        color: $text-blue
                        margin-right: 9px